<p style="color: green"><%= notice %></p>

<%= render @galaxyexplorer %>

<div>
  <%= link_to "Edit this galaxyexplorer", edit_galaxyexplorer_path(@galaxyexplorer) %> |
  <%= link_to "Back to galaxyexplorers", galaxyexplorers_path %>

  <%= button_to "Destroy this galaxyexplorer", @galaxyexplorer, method: :delete %>
</div>
