


<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Planet Page</title>
  <style>

    .card-title {
      font-size: 50px;
    }
    
    .btn-primary {
    background-color: #C4C3C4;
    border-color: #C4C3C4;
    }

    .btn-primary:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
    }

    @keyframes slidebg {
    to {
    background-position:20vw;
    }
  }

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white border">
    <div class="container">

      <a class="navbar-brand" href="#">
        <img src="https://res.cloudinary.com/dujnrrugq/image/upload/v1685450979/Screenshot_2023-05-30_at_15.28.59-PhotoRoom.png-PhotoRoom_a1bmdi.png" alt="Logo" width="180px" height="60px">
      </a>

      <%= form_with url: planets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>

      <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://res.cloudinary.com/dujnrrugq/image/upload/v1685448517/astronaut-helmet-vintage-logo-concept-black-and-white-color-hand-drawn-illustration-vector_ctk0ow.jpg" alt="Image" id="dropdownImage" class="dropdown-img">
      </button>
        <div class="dropdown-menu" aria-labelledby="dropdownImage">
          <% if user_signed_in?%>
            <%= link_to "edit", edit_user_registration_path, class: "dropdown-item", data: {turbo_method: :delete}%>
            <%= link_to "logout", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}%>
          <%else%>
            <%= link_to "Login", new_user_session_path,  class: "dropdown-item"%>
            <a href = "users/sign_up" class = "dropdown-item">Sign Up</a>
          <%end%>
        </div>
  </nav>

  <div class="container mt-5">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="https://res.cloudinary.com/dujnrrugq/image/upload/v1685452480/FullMoon2010.jpg_qilcar.webp" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title text-center mb-4"><%= @planet.name %></h2>
            <p class="card-text"><%= @planet.description %></p>
            <h4 class="card-text">Rs <%= @planet.price %></h4>

            <div class="mb-3">
              <span class="mr-2">Rating:</span>
              <div class="d-inline">
                <script>
                  var rating = <%= @planet.rating %>;
                  for (var i = 0; i < rating; i++) {
                    document.write("⭐️");
                  }
                </script>
              </div>
            </div>
            <button class="btn btn-outline-dark">
              <p class="card-text"><%= link_to "Book it", new_planet_booking_path(@planet) %></p>
            </button>

            <p class="card-text">
              <p class="card-text"><%= link_to "Back to planets", planets_path %></p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
