<h2><%= @planet.name %></h2>
<p><%= @planet.description %></p>
<p><%= @planet.location %></p>
<%= link_to "Back", planets_path(@planet) %>
<% if policy(@planet).edit? %>
  <%= link_to "Edit this planet", edit_planet_path(@planet) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this planet", @planet, method: :delete if policy(@planet).destroy? %>
